body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro JP', 'SF Pro Text', 'SF Pro Icons',
    'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo,
    'ＭＳ Ｐゴシック', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

iframe,
img {
  vertical-align: middle;
}

.header {
  position: relative;
  z-index: 100;
  height: 64px;
  background-color: #0277bd;
}

.title {
  margin: 0;
  padding: 0;
}

.title a {
  line-height: 64px;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  margin-left: 16px;
}

.cover {
  text-align: center;
}

h2 {
  margin: 0 24px;
}

.logo {
  max-width: 540px;
  width: 100%;
}

.cover p {
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
}

.content {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  display: flex; /* 要素をflexboxに対応させる */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  flex-direction: column;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.nav ul li {
  box-sizing: border-box;
  width: calc(100% / 5);
  text-align: center;
  background-color: #d32f2f;
  line-height: 48px;
  list-style-type: none;
}

.nav a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.nav a:hover {
  text-decoration: none;
}

.main {
  padding: 16px;
}

.kawasaki {
  margin: 0 auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-image: url(../image/kawasaki.jpg);
  background-position: -48px -40px;
}

h3 {
  font-size: 32px;
  text-align: center;
}

.main p {
  color: #333;
  margin: 16px auto;
  max-width: 880px;
  font-size: 22px;
  line-height: 1.8;
  text-align: justify;
  text-justify: inter-ideograph;
  margin-bottom: 32px;
}

.hiroshi {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.map {
  display: flex;
  background-color: #eee;
}

.google-map {
  width: 50%;
  height: 400px;
}

.map-address {
  padding: 24px 40px;
}

.map-address p {
  font-size: 20px;
}

.map-address dd {
  margin-bottom: 16px;
}

.footer {
  padding: 80px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.copy {
  font-size: 14px;
  font-style: normal;
}

.copy a {
  color: #fff;
}

.copy img {
  vertical-align: top;
}

.main2 {
  margin: 0;
}

.breadcrumb {
  padding-top: 16px;
  margin: 0;
  margin-left: 16px;
}

.prepare {
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  padding: 128px 0;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .nav ul {
    display: block;
  }

  .nav ul li {
    width: 100%;
    margin-bottom: 2px;
  }

  .map {
    display: block;
  }

  .google-map {
    width: 100%;
    height: 400px;
  }
}
